body {
  color: #000000;
}

/*-----------------------------Content Styling-----------------------------*/

.content {
  margin-top: 2%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
}

h1 {
  font-size: 75pt;
  font-weight: bold;
  text-align: center;
}

/*-----------------------------Table Styling-----------------------------*/

.icon-left {
  width: 100%;
  height: auto;
}

.icon-right {
  width: 100%;
  height: auto;
}

#table {
  border-spacing: 50px 0;
  width: 100%;
  height: auto;
  margin-bottom: 80px;
  text-align: center;
}

/*-----------------------------Button Styling-----------------------------*/

.content .about-btn, .content .contact-btn, .content .index-btn {
  margin-bottom: 50px;
  font-size: 20pt;
  color: #000000;
  background-color: #FFFFFF;
  border-color: #2E0854;
  border-width: medium;
  margin-left: -10px;
  margin-right: -10px;
}

.content .about-btn:hover, .content .contact-btn:hover, .content .index-btn:hover {
  color: #FFFFFF;
  background-color: #2E0854;
  border-color: #2E0854;
  border-width: medium;
}

.content .index-btn {
  margin-left: 20px;
}

.content a:hover {
  text-decoration: none;
}

.linkedin-btn, .resume-btn, .github-btn {
  background-color: #008080;
  border-color: #008080;
  border-width: medium;
  color: #FFFFFF;
  margin-bottom: 50px;
  font-size: 20pt;
}

.linkedin-btn:hover, .resume-btn:hover, .github-btn:hover {
  background-color: #FFFFFF;
  border-color: #008080;
  color: #000000;
}

.linkedin-btn, .resume-btn, .github-btn {
  margin-left: 80px;
}
