body {
  font-family: serif;
}

.navbar-inverse {
  font-size: 20px;
  background-color: #000000;
}

.content {
  padding: 20px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 80px;
  color: #000000;
}

.icon-left {
  width: 100%;
  height: auto;
}

.icon-right {
  width: 100%;
  height: auto;
}

#table {
  border-spacing: 50px 0;
  width: 100%;
  height: auto;
  margin-bottom: 80px;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 75pt;
  padding-top: 150px;
}

p {
  font-size: 13pt;
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
}
