body {
  font-family: serif;
}

.navbar-inverse {
  font-size: 20px;
  background-color: #000000;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  padding: 0px;
  padding-bottom: 50px;
}

.form {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 150px;
  color: #000000;
}

#table {
  width: 100%;
}

#first {
  padding-right: 15px;
  margin-bottom: 10px;
}

label {
  width: 100%;
  margin: 0 0 0 0;
  font-size: 13pt;
}

#message {
  padding: 50px;
}

.btn-default {
  font-size: 13pt;
}
