body {
  font-family: serif;
}

.nav {
  font-size: 20px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  padding: 0px;
  padding-bottom: 60px;
}

.form {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 150px;
}
