body {
  font-family: serif;
}

.nav {
  font-size: 20px;
}

.content {
  padding: 20px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 150px;
}

.row {
  padding: 50px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  padding: 0px;
  padding-bottom: 60px;
}

.icon-left {
  border-radius: 50%;
  height: 50%;
  width: 50%;
  float: left;
}

.icon-right {
  border-radius: 50%;
  height: 50%;
  width: 50%;
  float: right;
}

h1 {
  text-align: center;
  font-size: 75pt;
}

p {
  font-size: 13pt;
  padding-top: 30px;
}

.top {
  padding-bottom: 40px;
  text-align: center;
}

.bottom {
  padding-bottom: 40px;
  padding-top: 5px;
}
