body {
  font-family: serif;
}

.navbar-inverse {
  font-size: 20px;
  background-color: #000000;
}

#myCarousel {
  background-color: #000000;
}

.content {
  padding: 20px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 150px;
  text-align: center;
  padding-top: 50px;
  color: #000000;
}

.row {
  padding: 50px;
}

h1 {
  text-align: center;
  font-size: 75pt;
}

p {
  font-size: 13pt;
  padding-top: 30px;
}
