body {
  font-family: serif;
}

.navbar-inverse {
  font-size: 20px;
  background-color: #000000;
}

.carousel-control {
  width: 20%;
}

.carousel-img {
  width: 1500px;
  height: 680px;
}

.content {
  padding: 20px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 80px;
  text-align: center;
  padding-top: 50px;
  color: #000000;
}

.row {
  padding: 50px;
}

h1 {
  text-align: center;
  font-size: 75pt;
}

p {
  font-size: 13pt;
  padding-top: 30px;
}
